<p id="notice"><%= notice %></p>
<%= render 'header' %><br>

<div class=row>
  <div class="large-12 columns">
    <h1 class="custom_font" style="color: #c37c7c; text-align: center; font-family: latohairline"><%= @post.title %></h1>
    <p style="margin-top: -25px; text-align: center"></p>
    <br>
  <hr>
    
  <p>
    <%= @post.description.html_safe %>
  </p>
  <p style="text-align: center"><%= link_to 'View All Posts', posts_path, class: "button" %></p>
    </div>
  
  <% if user_signed_in? %>
              <div><p><small><%= link_to 'Edit Post', edit_post_path %></small>
            <% else %>
          <% end %>
          
</div>

<br />

<%= render 'footer' %>


